extends layout

block content
	h1 Mobile Controller
	h2 About
	p.
		The problem with web games today is that they all use mouse and keyboard and can't use anything else, like real console game pads.
		The Mobile Controller library is here to the rescue! Using this library you're going to able to build web games that utilize the abilities
		of your mobile phone. Like the gyroscope and accelerometer, and to build a customized controller that may look like anything.

	p.
		In addtion, every console gamer knows that it's a better playing with your friends than playing by yourself. The problem is that usually you don't always have enough controllers for everyone. Well not any more, every phone is a controller now!
	
	p.
		Start building games with Mobile Controller! Download the code, and check out the documentation.
	h2 What does it do?
	p.
		Basically, with games that use this library, you can play web games with your phone! All you have to do is scan the QR code in the game and start playing!
	table#demo
		tr
			td
				image(src="/images/scan_qr.jpg", width="320", height="240")
				div.image-comment
					|Scan the QR code.	
			td#video-cell(rowspan="2")
				iframe(width="640", height="480", src="http://www.youtube.com/embed/3sp5CQ12pRU", frameborder="0", allowfullscreen)
		tr
			td
				image(src="/images/playing_game.jpg", width="320", height="240")
				div.image-comment
					|And play the game.
			td
				

	


	