extends layout

block content
	h1 Mobile Controller
	p.
		The Mobile Controller library makes it easier on you to develop web based games that utilize the player's mobile phone, Android or IPhone, as an advanced customized controller.
	p.
		Start building games with Mobile Controller! Download the code, and check out the documentation.